.div-parent{
	background-color: #cceeff;
	width:100%;
	padding: 5px;
	text-align:center;
	float: left;
}

.input-one{
	width:70%;
	float:left;
}
.input-short{
	width:200px;
	float:left;
}
.text-label{
float:left; display:inline-block; padding:5px;	
}
.div-label-block{
	width:100%; float: left;
}
.div-divide{
	width:50%; float: left; text-align:left; padding:5px;
}


@media (max-width: 600px) {
	.div-divide{
		width:10px;
	}
	.input-short{
	width:10px;
	}
	.input-one{
		width:100%;
	}
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}