.div-parent{
	background-color: #cceeff;
	width:100%;
	padding: 5px;
	text-align:center;
	float: left;
}

.input-one{
	width:70%;
	float:left;
}
.input-short{
	width:200px;
	float:left;
}
.text-label{
float:left; display:inline-block; padding:5px;	
}
.div-label-block{
	width:100%; float: left;
}
.div-divide-3{
		width: 33%;
		float: left;
		padding-left:20px;
}
.div-divide{
	width:50%; float: left; text-align:left; padding:5px;
}


@media (max-width: 600px) {
	.div-divide{
		width:100%;
	}
	.input-short{
	width:100%;
	}
	.input-one{
		width:100%;
	}
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
.table-class{
	width: 70%;
}
.col1{
  width: 150px;
}
.col3{
  width: 150px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 600px) {
	.col1{
		width: 20%;
	}

	.table-class{
		width: 100%;
	}
}
