<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="PHP via FastCGI" />
            <add name="Php via FastCgiModule" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.4\php-cgi.exe" resourceType="File" />
        </handlers>
        <urlCompression doDynamicCompression="true" />
    </system.webServer>
</configuration>
